<!-- <h1>pie Chart with Chart js</h1>
<canvas id="myChart" width="700" height="400"></canvas>



<div class="row">
  <div class="col">
    <div class="card">
      <h1 style="text-align: center; padding: 10px;">pie Chart with ng2-Chart</h1>
      <canvas baseChart class="canva" [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h1 style="text-align: center; padding: 10px;">Bar Chart with ng2-Chart</h1>
      <canvas baseChart class="canva" [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [legend]="barChartLegend" [type]="'bar'">
      </canvas>

    </div>
  </div>
</div> -->
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#EF7320"
[fullScreen] = "true"
type="ball-spin-clockwise"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<router-outlet></router-outlet>